<td style="text-align: right;">
    <h2 style="text-align: center">Pessoas</h2> 
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Curso</th>
                <th>Formações</th>
                <th>Pontos</th>
                <th style="width: 1%">Ações</th>
            </tr>                        
        </thead>
        <tbody id="TBODY">
            <!-- AQUI VEM O CONTEUDO DO AJAX -->
        </tbody>
    </table>
</td>
<td style="padding-left: 10px">
    <h3 id="ACAO_TITULO" style="text-align: center">Incluir</h3> 
    <form id="FORM" method='POST' onsubmit="return incluir()">

        <!-- NOME -->
        <label for="NOME">Nome:</label>
        <input type="text" id="NOME" maxlength="100" minlength="3" required><br>

        <!-- CURSO -->
        <label for="CURSO">Curso:</label>
        <input type="text" id="CURSO" maxlength="100" required><br>

        <!-- FORMACAO -->
        <label for="FORMACAO">Formação:</label>
        <input type="text" id="FORMACAO" maxlength="100" required><br>

        <!-- ARQUIVO -->
        <label for="ARQUIVO">Comprovante de título:</label>
        <input type="text" id="ARQUIVO" maxlength="100" required><br>

        <!-- OBSERVACAO -->
        <label for="OBSERVACAO" style="font-weight: normal">Observação:</label>
        <textarea maxlength="1000" id="OBSERVACAO" ></textarea>

        <hr>
        <input id="ACAO" type="submit" value="Incluir">
        <input type="button" value="Cancelar" onclick="formReset()">

    </form>
</td>
