<td colspan='100%'  style='text-align: center'>
    <style>
        #app-tabela{
            border: 0
        }
    </style>
    <form id="FORM" method='POST' onsubmit="return acessar()">
        <label for="CPF" >CPF:</label>
        <input type="text" id="CPF" maxlength="11" max="99999999999" required>

        <label for="SENHA" >Senha:</label>
        <input type="password" id="SENHA" maxlength="20" required>

        <hr>
        <input id="ACAO" type="submit" value="Acessar">

    </form>
</td>
